@import "tailwindcss";
@font-face {
  font-family: "Inter";
  src: url("./fonts/inter.woff2");
}

@theme {
  --font-inter: "Inter", sans-serif;
  --color-whitesmoke: #f5f3f4;
  --color-night: #0b090a;
  --color-penn-blue: #001f54;
}

.contactBG {
  background: url("./assets/water-treatment.webp") no-repeat center center/cover;
}
