@import "tailwindcss";
@font-face {
  font-family: "Inter";
  src: url("./fonts/inter.woff2");
}

@theme {
  --font-inter: "Inter", sans-serif;
  --color-whitesmoke: #f5f3f4;
  --color-night: #0b090a;
  --color-platinium: #e6e6e9;
}
