@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url("/fonts/inter.woff2") format("woff2");
  font-style: swap;
}

@theme {
  --font-inter: "Inter", sans-serif;
  --color-whitesmoke: #f5f3f4;
  --color-night: #0b090a;
  --color-platinium: #e6e6e9;

  --breakpoint-*: initial;
  --breakpoint-mobile-p: 320px;
  --breakpoint-mobile-l: 480px;
  --breakpoint-tablet-p: 640px;
  --breakpoint-tablet-l: 768px;
  --breakpoint-small-laptop: 1024px;
  --breakpoint-desktop: 1280px;
  --breakpoint-desktop-large: 1536px;
}

.heroBg {
  background: url("./assets/hero.webp") no-repeat center center/cover;
}
